@use '../variables.scss' as v;

.card {
  cursor: pointer;
  background-color: v.$light-cream;
  border: none;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.websiteThumbnail {
  border: solid 1px v.$dark-green-opacity;
}