<h3>About Me</h3>
<p>I am a self-driven and analytical team player with 13 years of experience in the military. During this time I have honed my skills in problem-solving, achieving goals within defined timelines and learned the importance of being a team player.</p>

<p>Now, I'm on an exciting journey to transition into the world of IT after completing training in full-stack development (TypeScript, Angular, Node.js). I can't wait to dive into a fast-paced role and stay at the cutting edge of advancements.</p>

<p>I believe my enthusiasm, drive, and eagerness to learn will guarantee high achievement and success in my new role, despite having little commercial experience in this field. I am excited about using the skills and discipline learned during my military career to excel in my new role as a full-stack developer.</p>

