@use '../variables' as v;

.banner{
  background: v.$dark-green;
}

h1, h2, h3, p {
  color: v.$dark-green;
}

.sm-text {
  font-size: 0.8rem;
}

.header, .content {
  max-width: 1400px;
}

.content {
  height: 70vh;
}

.footer {
  background: v.$dark-green;
}

.media-links {
  color: v.$dark-cream;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(100%)
}

.carousel-item {
  cursor: pointer;
}

.nav-link {
  font-family: 'Bebas Neue', sans-serif;
  color: v.$dark-green;
}

.alan-henry {
  color: v.$bright-green;
  cursor: pointer;
}

.full-stack {
  color: v.$dark-cream;
  cursor: pointer;
}

.modal {
  background-color: v.$light-cream;
}

.modal-title {
  color: v.$dark-green;
}

.carousel-inner {
  border: solid 1px v.$dark-green-opacity;
}

.green-link {
  color: v.$dark-green;
}

.green-link:hover {
  text-shadow:
    -0.3px -0.3px 0 v.$dark-green,
    0.3px -0.3px 0 v.$dark-green,
    -0.3px 0.3px 0 v.$dark-green,
    0.3px 0.3px 0 v.$dark-green;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
